.score-bar {
  display: flex;
  flex-direction: column;
}

.names {
  display: flex;
  justify-content: space-between;
}

.scores {
  display: flex;
  justify-content: center;
}

.score,
.name {
  margin: 0;
  width: 100%;
  color: rgb(18, 87, 77);
  text-align: center;
}

div.score {
  font-size: 1.4em;
}
